/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Trebuchet MS", Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

img {
  width: 100%;
}
body {
  overflow-x: hidden;
  position: relative;
  background-color: white !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
.name-logo {
  text-decoration: none;
}
.name-logo h2 {
  font-size: 1.5rem;
}
.name-gradient{
  background-image:linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  background-clip: text;
  color: transparent;
  align-items: center;
  margin: 0;
}
nav.navbar.scrolled {
  padding: 10px 0;
  background: linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 100.00%);
  padding: 10px 0;
}

.navbar-link {
  text-decoration: none;
  font-weight: 500;
  color: #000000 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 22px;
  opacity: 0.75;
}

.navbar-link:hover,
.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.navbar-text button {
  font-weight: 700;
  color: #000000;
  border: 1px solid #000000;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #000000;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #000000;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Home Css ************/
.banner {
  margin-top: 0;
  padding: 200px 0 50px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  color: black;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid black;
}
.banner h1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: black;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 35px 0;
}
.banner button {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  margin-top: 25px;
  height: 42px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner .img-header {
  display: flex;
  justify-content: center;
}
.banner .header-img {
  filter: drop-shadow(0 0 20px #000000);
  max-width: 380px;
  justify-items: center;
  padding-left: auto;
  padding-right: auto;
  /* animation: updown 3s linear infinite; */
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.banner .resume-button {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(132deg, rgb(0, 157, 255) 0.00%, rgb(227, 43, 227) 100.00%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  margin: 25px 0 25px 0;
  color: black;
  display: inline-block;
}
.banner .resume-button:hover{
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.connect_withMe {
  padding: 25px 0 10px 0;
  text-align: center;
  font-weight: 500;
}
.connect_withMe p {
  margin: 0;
  font-size: 30px;
	font-weight: 700;
  color: #fff;
}

@media (max-width: 1370px) {
  .banner h1 {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  .banner h1 {
    font-size: 45px;
  }
}
@media (max-width: 992px) {
  .banner .header-img {
    width: 80%;
  }
}
@media (max-width: 786px) {
  .banner h1 {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  .banner button {
    display: inline-block;
  }
  .banner h1 {
    font-size: 25px;
  }
  .banner .tagline {
    font-size: 20px;
  }
}
/************ Social Icon Css ************/
.social-icon {
  display: inline-flex;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #000000;
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background: linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 100.00%);
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

/************ about Css ************/
.about {
  padding: 200px 0 50px 0;
  position: relative;
  height: auto;
  text-align: center;
  color: #000000;
}
.about-bx {
  background: linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);
  border-radius: 35px;
  text-align: center;
  padding: 25px 50px;
  margin: 15px 0 50px 0px;
}
.about-bx a {
  text-decoration: none;
}
.about h1 {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 45px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid black;
}
.about h2 {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 35px;
  margin-bottom: 16px;
  display: inline-block;
}
.about h3 {
  font-size: 35px;
  font-weight: 500;
  padding: 20px 0 10px 0;
}
.about p {
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: none;
}
.about .techStack-lang img {
  height: 60px;
  width: auto;
  max-width: 250px;
  padding: 5px;
}
@media (max-width: 1024px) {
  .about h1 {
    font-size: 35px;
  }
  .about h2 {
    font-size: 30px;
  }
}
@media (max-width: 786px) {
  .about h1 {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .about h1 {
    font-size: 30px;
  }
  .about-bx {
    padding: 25px 20px;
  }
}

/************ Projects Css ************/
.project {
  padding: 200px 0 50px 0;
  position: flex;
  text-align: center;
  color: #000000;
}
.project .container {
  margin: auto;
}
.project .container h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid black;
}
.project .container h2 {
  font-size: 35px;
  font-weight: 500;
}
.project .container h3 {
  font-size: 25px;
	font-weight: 400;
}
.project .container p {
  font-size: 20px;
  letter-spacing: 0.8px;
  margin: 14px auto 14px auto;
  text-align: left;
  text-align: center;
}

.project .project-row {
  margin: 25px;
  padding: 25px;
  background: linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);
  border-radius: 25px;
}
.project .container .scroll-div {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 25px;
}
.project .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 3s ease-in-out;
  border-radius: 25px;
}

.project .container .scroll-div:hover > img {
  object-position: bottom center;
}
.project .project-content a {
  text-decoration: none;
  width: auto;
  min-width: 130px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  font-size: 20px;
  color: #B8B8B8;
  border-radius: 10px;
  margin: 10px 15px 10px 15px;
  padding-left: 5px;
  align-items: center;
  justify-content: space-around;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.project .project-content a:hover{
  background-image:linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  color: white;
}
.project .project-content a img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 5px;
}
@media (max-width: 1024px) {
  .project .container h1 {
    font-size: 35px;
  }
  .about h2 {
    font-size: 30px;
  }
}
@media (max-width: 786px) {
  .project .container h1 {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .project .container h1 {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .project .container h2 {
    font-size: 25px;
  }
  .project .container h3 {
    font-size: 20px;
  }
  .project .container p {
    font-size: 15px;
  }
  .project .project-content {
    margin-top: 15px;
  }
  .project .project-content a {
    font-size: 15px;
    height: 40px;
  }
  .project .container .project-2 {
    flex-direction: column-reverse;
  }
  .project .container .project-4 {
    flex-direction: column-reverse;
  }
  .project .container .scroll-div {
    height: 300px;
  }
}
@media (max-width: 425px) {
  .project .project-row {
    margin: 15px 0 15px 0;
  }
}

/************ Footer Css ************/
.footer {
  background-image: url('./assets/img/footer-bg.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
.footer .logo {
  padding-top: 15px;
  object-fit: cover;
}
.footer img {
  width: 26%;
}

.footer .social-icon {
  padding: 8px;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin: 10px 0;
}
.footer .nameGradient{
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    background-clip: text;
    color: transparent;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    display: inline-flex;
    font-size: calc(1.3rem + .6vw);
    font-weight: 500;

}
@media (max-width: 767px) {
  .name-copyright {
    text-align: center;
  }
}
